/*===== 登入頁 login.html =====*/
/*--- Header ---*/
.page_login .header{
	position: fixed;
	width: 100%;
	background-color: #FFF;
	z-index: 2;
}
.page_login .top_header .nav-secondary,
.page_login .top_header .nav-lang,
.page_login .nav-primary ul,
.footer .nav-footer ul{
	list-style-type: none;
	padding-left: 0;
}
.page_login .top_header .nav-secondary li,
.page_login .top_header .nav-lang li,
.page_login .nav-primary>ul>li{
	display: inline-block;
}
.page_login .logo{
	display: block;
}

/*--- Nav 下拉選單 ---*/
.page_login .nav-dropdown{
	position: relative;
}
.page_login .nav-dropdown .dropdown-btn{
	padding: 0.5rem;
	border: none;
	background-color: transparent;
}
.page_login .nav-dropdown .dropdown-btn .dropdown-btn-headline{
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 0;
}
.page_login .nav-dropdown .dropdown-btn .dropdown-btn-icon{
	color: #37906C;
}
.page_login .nav-dropdown .dropdown-btn .dropdown-btn-icon i{
	transition: ease-in 0.3s;
	transform: rotate(0deg);
}
.page_login .nav-dropdown .dropdown-menu{
	display: none;
	position: absolute;
	background-color: rgba(0,0,0,.75);
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	margin: 0;
	padding: 0;
	border-radius: 0;
}
.page_login .nav-dropdown .dropdown-menu .menu-item{
	display: block;
	padding: 0.85rem;
}
.page_login .nav-dropdown .dropdown-menu .menu-item .menu-item-headline{
	font-size: 1rem;
	color: #FFF;
	margin-bottom: 0;
}
/* Hover Toggle */
.page_login .nav-dropdown:hover .dropdown-menu{
	display: block;
}
.page_login .nav-dropdown:hover .dropdown-menu .menu-item:hover{
	background-color: rgba(0,0,0,.15);
}


/*--- Top header ---*/
.page_login .top_header{
	padding: 8px 0;
}
.page_login .top_header .nav-secondary .nav-item{
	display: block;
	color: #8492a6;
	font-size: 14px;
	padding: 0 0.5rem;
}
.page_login .top_header .nav-secondary .nav-item:hover{
	color: #37906C;
}
.page_login .top_header .nav-secondary li{
	position: relative;
}
.page_login .top_header .nav-secondary li:before{
	content: '';
	position: absolute;
	right: -4px;
	top: 4px;
    width: 2px;
    height: 15px;
	background-color: #CCC;
}
.page_login .top_header .nav-secondary li:last-child:before{
	content: none;
}

/* Languages */
.page_login .top_header .nav-lang .nav-item{
	display: block;
	border: 1px solid #244D3D;
	color: #244D3D;
	font-size: 12px;
	padding: 0 0.5rem;
	margin-right: -4px;
}
.page_login .top_header .nav-lang .nav-item.active{
	background-color: #244D3D;
	color: #FFF;
	transition: ease-in 0.2s;
}

/*--- Main ---*/
.page_login .main{
	padding-top: 78px;
}

/*--- Banner ---*/
.page_login .banner{
	padding: 5.8rem 0;
	background-image: url('../images/banner.png');
	background-repeat: no-repeat;
	background-position: center 0;
	background-size: cover;
}
.page_login .banner .card{
	background-color: rgba(255, 255, 255, .85);
}
.page_login .banner .card-header .login-title{
	font-size: 1.5rem;
}
.page_login .banner .banner-title .head{
	color: #244D3D;
	font-weight: bold;
}
.page_login .banner .banner-title .subhead{
	font-size: 1.2rem;
	line-height: 1.6;
}
.page_login .banner .btn-primary{
	background-color: #244D3D;
}

/*--- News ---*/
.page_login .news{
	background-color: #244D3D;
	padding: 2rem 0;
}
.page_login .news .news-title{
	color: #FFF;
	font-size: 1.2rem;
}

.page_login .news .news-lists{
	list-style-type: none;
	padding-left: 0;
	color: #FFF;
}

/*--- Footer ---*/
.page_login .footer{
	background-color: #A7DAD8;
	padding: 2rem 0;
}
.page_login .footer .nav-footer .nav-item,
.page_login .under_footer .nav-item{
	display: block;
	padding: 0.25rem 0.5rem;
}
.page_login .footer .nav-footer .nav-item .nav-item-headline{
	font-size: 14px;
	margin-bottom: 0;
	color: #244D3D;
}

/*--- Under Footer ---*/
.page_login .under_footer{
	background-color: #5CC6A5;
	padding: 0.5rem 0;
}
.page_login .under_footer .nav-item .nav-item-headline{
	color: #244D3D;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0;
}

/*===== 首頁 index.html =====*/
.index .list-group-item-action:focus,
.index .list-group-item-action:hover{
	background-color: rgba(92,198,165,0.2);
}

.index .card-custom{
	height: 495px;
}

/*===== 人員進出自動辨識：列表頁 identify_member_management.html  =====*/
.identify_member_management .identify_area_list{
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}
.identify_member_management .identify_area_list li{
    display: inline-block;
    position: relative;
    padding: 0 0.6rem 0 0;
}

.identify_member_management .identify_area_list li:before{
	content: '';
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translate(0,-50%);
    width: 1px;
    height: 13px;
    background-color: #8492a6;
}
.identify_member_management .identify_area_list li:last-child:before{
	content: none;
}

.identify_member_management .identify_area_list li a{
	color: #8492a6;
}
.identify_member_management .identify_area_list li a:hover{
	color: #244D3D;
}

/*===== 人員進出自動辨識：表單頁 identify_member_sign.html  =====*/
.identify_member_sign .identify_area_title{
	position: relative;
	font-size: 1.5rem;
	border-bottom: 3px solid #37906C;
	padding-bottom: 4px;
}
.identify_member_sign .identify_area_title:before{
	content: '';
	position: absolute;
	width: 20%;
	height: 3px;
	bottom: -3px;
	left: 0;
	background-color: #5CC6A5;
}
.identify_member_sign .identify_camera_title{
	font-size: 1.5rem;
	font-weight: bold;
	text-align: center;
	color: #37906C;
}

.identify_member_sign .member_avatar .avatar-custom-size{
	width: 320px;
	height: 320px;
}

/*===== 事業單位人員維護：新增、編輯頁 career_member_edit.html =====*/
/* Member Avarar */
.career_member_edit .member_avatar .avatar-custom-size{
	width: 180px;
	height: 180px;
}

.career_member_edit .btn-camera{
	-webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0,0,0,.075);
    		box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0,0,0,.075);
}

/* Member QRcode */
.career_member_edit .member_qrcode{
	width: 180px;
	height: 180px;
}
.career_member_edit .member_qrcode img{
	width: 100%;
	height: auto;
}

/* Modal Camera Shot */
.member_avatar-before .avatar-custom-size,
.member_avatar-after .avatar-custom-size{
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1199px){
	/*===== 登入頁 login.html =====*/
	/*--- Sidenav Toggler ---*/
	.page_login .sidenav-toggler{
		padding: 1.3rem;
		margin-right: 1rem;
	}
	.page_login .sidenav-toggler-content{
		position: absolute;
		width: 100%;
		height: 100vh;
		right: 0;
		top: 0;
		background-color: #fff;
		transition: ease-in 0.3s;
		transform: translateX(100%);
	}
	.page_login .sidenav-toggler-content.show{
		transform: translateX(0%);
	}

	.page_login .nav-wrapper{
		margin-top: 53px;
		padding: 0 1.2rem;
	}
	.page_login .nav-dropdown .dropdown-menu{
		display: block;
	    width: 100%;
	    height: 0;
	    position: relative;
	    top: 0;
	    box-shadow: none;
	    border: none;
	    transition: ease-in 0.3s;
	    z-index: 0;
	}
	.page_login .nav-dropdown .dropdown-menu.active{
		height: auto;

	}

	.page_login .nav-dropdown .dropdown-menu .menu-item{
		padding: 1.5rem 1.8rem;
	}
	.page_login .nav-dropdown .dropdown-btn{
		width: 100%;
		padding: 1.2rem;
	}
	.page_login .nav-dropdown .dropdown-btn .dropdown-btn-headline,
	.page_login .nav-dropdown .dropdown-menu .menu-item .menu-item-headline{
		font-size: 18px;
	}
	.page_login .top_header .nav-secondary li,
	.page_login .top_header .nav-lang li,
	.page_login .nav-primary>ul>li{
		display: block;
	}
	
	.page_login .top_header .nav-secondary .nav-item,
	.page_login .top_header .nav-lang .nav-item{
		padding: 1.2rem;
		font-size: 18px;
		font-weight: bold;
		color: #3c4858;
	}

	.page_login .nav-dropdown .dropdown-btn.active .dropdown-btn-icon i{
		transform: rotate(-180deg);
	}

	/*--- Main ---*/
	.page_login .main{
		padding-top: 53px;
	}


	/*===== 首頁 index.html =====*/
	.index .card-custom{
		height: 515px;
	}
	.index .card-custom.widget-calendar{
		height: auto;
		min-height: 515px;
	}

}

@media screen and (max-width: 992px){
	/*===== 登入頁 login.html =====*/
	/*--- Banner ---*/
	.page_login .banner{
		padding: 1.5rem 0 5rem;
		background-position: 70% 0;
	}
}


@media screen and (max-width: 767px){
	/*===== 登入頁 login.html =====*/
	/*--- Main ---*/
	.page_login .main{
		padding-top: 44px;
	}
	/*--- Sidenav Toggler ---*/
	.page_login .sidenav-toggler{
		padding: 1rem;
	}
	.page_login .nav-wrapper{
		margin-top: 44px;
	}
	/*--- Banner ---*/
	.page_login .banner .card-header{
		padding: 1rem;
	}
	.page_login .banner .card-header .login-title{
		font-size: 1.2rem;
	}

	/*===== 首頁 index.html =====*/
	.index .card-custom{
		height: auto;
	    min-height: 487px;
	}
	.index .card-custom.widget-calendar{
		min-height: 475px;
	}


	/*===== 事業單位人員維護：新增、編輯頁 career_member_edit.html =====*/
	/* Modal Camera Shot */
	.member_avatar-before .avatar-custom-size,
	.member_avatar-after .avatar-custom-size{
		width: 310px;
		height: 310px;
	}
}

@media screen and (max-width: 575px){
	/*===== 登入頁 login.html =====*/
	/*--- Main ---*/
	.page_login .main{
		padding-top: 44px;
	}
	/*--- Banner ---*/
	.page_login .banner{
		padding: 1.5rem 0 3rem;
		background-position: 65% 0;
	}
	.page_login .banner .banner-title .subhead{
		font-size: 1rem;
	}
	/*--- News ---*/
	.page_login .footer .nav-footer .nav-item, .page_login .under_footer .nav-item{
		padding: 0.5rem;
	}
	.page_login .footer .nav-footer .nav-item .nav-item-headline{
		font-size: 1rem;
		text-align: center;
	}

	/*--- Sidenav Toggler ---*/
	/* .page_login .sidenav-toggler{
		padding: 1.1rem;
	} */

	.page_login .nav-wrapper{
		padding: 0;
	}
	.page_login .nav-dropdown .dropdown-btn,
	.page_login .top_header .nav-secondary .nav-item,
	.page_login .top_header .nav-lang .nav-item{
		padding: 1rem 0.5rem;
	}
	.page_login .top_header{
		padding: 0;
	}
}

@media screen and (max-width: 320px){
	/*===== 首頁 index.html =====*/
	.index .media{
		display: block;
	}
	/*===== 事業單位人員維護：新增、編輯頁 career_member_edit.html
			人員進出自動辨識：表單頁 identify_member_sign.html  =====*/

	/* Member Avarar */
	.member_avatar .avatar-custom-size{
		width: 165px;
		height: 165px;
	}

	/* Modal Camera Shot */
	.member_avatar-before .avatar-custom-size,
	.member_avatar-after .avatar-custom-size,
	.identify_member_sign .member_avatar .avatar-custom-size{
		width: 255px;
		height: 255px;
	}

	.identify_member_sign .identify_area_title{
		font-size: 1.25rem;
	}
}