.bg-primary{
	background-color: #5CC6A5 !important;
}
.text-dark{
	color: #244D3D !important;
}


.list-group-item-action:focus,
.list-group-item-action:hover{
	background-color: rgba(92,198,165,0.2);
}