/*===== Main Vision =====*/
.application-offset .container-application:before,
.application .sidenav.show:before{
	background-color: #5CC6A5;
}

/*===== Left Nav =====*/
.nav-application>.btn.active{
	background-color: #37906C;
}
.nav-application>.btn:hover:not(.active){
	color: #244D3D;
}

